@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}

.navigation-link {
    font-size: 20px; 
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.navigation-link-current {
    text-decoration: underline;
}

.navigation-link-visible {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    background-color: #756257;
    text-decoration: none;
    text-transform: uppercase;
}

.welcome {
    background-color: #83B3D3;
    background-image: url("../images/welcome-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
}

.welcome-text {
    background-color: #ffffff;
}

.welcome-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.welcome-subtitle {
    font-size: 22px;
    line-height: 36px;
    color: #333333;
}

.advantages {
    text-align: center;
}

.advantages-wrapper {
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    background-color: #83B3D3;
}

.advantages-wrapper .advantages-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
}

.advantages-list-features .advantages-item:nth-child(2n + 1) {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-points .advantages-item:nth-child(2n + 1) {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-points .advantages-item:nth-child(2n) {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.advantages-list .advantages-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.search {
    text-align: center;
}

.search-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.search-subtitle {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.search-button {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: white;
    background-color: #756257;
    text-decoration: none;
}

.subscription {
    text-align: center;
    background-image: url("../images/subscription-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #83B3D3;
    color: #ffffff;
}

.subscription-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.subscription-subtitle{
    font-size: 22px;
    line-height: 26px;
}

.contacts-phone {
    font-size: 40px;
    text-decoration: none;
    color: #000000;
}

.catalog-filter-block {
    background-image: url("../images/catalog-background.jpg");
    color: #ffffff;
    background-color: #000000;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.breadcrumbs {
    font-size: 16px;
}

.catalog-filter {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}

.control-label {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

.from-to {
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    font-weight: 400;
}

.button-submit {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    background-color: #83B3D3;
}

.button-reset {
    font-family: "PT Sans", sans-serif; 
    font-size: 18px;
    line-height: 23px;
    background-color: transparent;
    color: white;
    border: none;
    text-align: center;
}

.results-found {
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    text-transform: uppercase;
}

.hotel-card-link {
    text-decoration: none;
}

.hotel-card-info {
    line-height: 23px;
}

.hotel-card-title {
    font-size: 24px; 
    line-height: 31px;
    font-weight: 700;
    color: #000000;
    }

.hotel-card-button {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    background-color: #756257;
    text-decoration: none;
}

.hotel-card-housing {
    color: #333333;
    font-size: 18px; 
    line-height: 23px;
}

.hotel-card-favorites {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    background-color: #83B3D3;
    text-decoration: none;
}

.hotel-rating-item {
    font-size: 16px;
    text-transform: uppercase;
    background-color: #F2F2F2;
    color: #333333;
}

.favorites-selected {
    font-size: 16px;
    background-color: #7DB54F;
    text-decoration: none;
}

.load-more {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #83B3D3;
    text-decoration: none;
}

.pagination-link {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #83B3D3;
    text-decoration: none;
}

.pagination-current {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: #F2F2F2;
    text-decoration: none;
}

.hotels-per-page {
    color: #333333;
    line-height: 23px;
}

.subscriptionsubs-hotels {
    background: none;
    text-align: center;
}

.subscriptionsubs-hotels .subscription-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.subscriptionsubs-hotels .subscription-subtitle{
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.email {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    background-color: #83B3D3;
    text-decoration: none;
}

.button {
    font-family: "PT Sans", sans-serif; 
    text-align: center;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
}


/*
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
*/
