@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.page-header {
    color: #000000;
    background-color: #ffffff;
}

.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-size: 20px; 
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.welcome {
    color: black;
    background-color: white;
    background-image: url("images/welcome-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.advantages {
    text-align: center;
    background-color: #83B3D3;
}

.advantage-title {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: white;
}

.advantage-description {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: white;
}

